# EDA of Monster Jobs Data
- Look at columns to see which ones could be valuable in MVP

In [1]:
import pandas as pd

In [7]:
path = '/Users/richardkuzma/coding/analysis/monster/data/raw/'
filename = 'monster_jobs_sample.csv'
df = pd.read_csv(path+filename)

# create IDs to keep track of jobs, move titles and descriptions to the left for ease
df['id'] = df.index
df = df[['id', 'job_title', 'job_description'] + [c for c in df if c not in ['id', 'job_title', 'job_description']]]
df.head()

,id,job_title,job_description,country,country_code,date_added,has_expired,job_board,job_type,location,organization,page_url,salary,sector,uniq_id
0,0,IT Support Technician Job in Madison,TeamSoft is seeing an IT Support Specialist to...,United States of America,US,NaN,No,jobs.monster.com,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,1,Business Reporter/Editor Job in Madison,The Wisconsin State Journal is seeking a flexi...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,2,Johnson & Johnson Family of Companies Job Appl...,Report this job About the Job DePuy Synthes Co...,United States of America,US,NaN,No,jobs.monster.com,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,3,Engineer - Quality Job in Dixon,Why Join Altec? If you’re considering a career...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,4,Shift Supervisor - Part-Time Job in Camphill,Position ID# 76162 # Positions 1 State CT C...,United States of America,US,NaN,No,jobs.monster.com,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector,uniq_id,id
0,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e,0
1,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a,1
2,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0,2
3,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783,3
4,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c,4

,id,job_title,job_description,country,country_code,date_added,has_expired,job_board,job_type,location,organization,page_url,salary,sector,uniq_id
0,0,IT Support Technician Job in Madison,TeamSoft is seeing an IT Support Specialist to...,United States of America,US,NaN,No,jobs.monster.com,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development,11d599f229a80023d2f40e7c52cd941e
1,1,Business Reporter/Editor Job in Madison,The Wisconsin State Journal is seeking a flexi...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN,e4cbb126dabf22159aff90223243ff2a
2,2,Johnson & Johnson Family of Companies Job Appl...,Report this job About the Job DePuy Synthes Co...,United States of America,US,NaN,No,jobs.monster.com,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN,839106b353877fa3d896ffb9c1fe01c0
3,3,Engineer - Quality Job in Dixon,Why Join Altec? If you’re considering a career...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager),58435fcab804439efdcaa7ecca0fd783
4,4,Shift Supervisor - Part-Time Job in Camphill,Position ID# 76162 # Positions 1 State CT C...,United States of America,US,NaN,No,jobs.monster.com,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management,64d0272dc8496abfd9523a8df63c184c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,21995,Assistant Vice President - Controller Job in C...,This is a major premier Cincinnati based finan...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Assistant-Vice-Pres...,"120,000.00 - 160,000.00 $ /yearbonus",NaN,a80bc8cc3a90c17eef418963803bc640
21996,21996,Accountant Job in Cincinnati,Luxury homebuilder in Cincinnati seeking multi...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,http://jobview.monster.com/Accountant-Job-Cinc...,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff),419a3714be2b30a10f628de207d041de
21997,21997,AEM/CQ developer Job in Chicago,RE: Adobe AEM- Client - Loca...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Chicago, IL 60602",NaN,http://jobview.monster.com/AEM-CQ5-developer-J...,NaN,NaN,5a590350b73b2cec46b05750a208e345
21998,21998,Electrician - Experienced Forging Electrician ...,Jernberg Industries was established in 1937 an...,United States of America,US,NaN,No,jobs.monster.com,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",http://jobview.monster.com/Electrician-Experie...,25.00 - 28.00 $ /hour,Installation/Maintenance/Repair,40161cf61c283af9dc2b0a62947a5f1b
21999,21999,Contract Administrator Job in Cincinnati,Contract AdministratorCan you be the point per...,United States of America,US,NaN,No,jobs.monster.com,Full Time,"Cincinnati, OH",NaN,http://jobview.monster.com/Contract-Administra...,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager),cb49f16ad72627b109e434e0cac97f7a

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               22000 non-null  int64
 1   job_title        22000 non-null  object
 2   job_description  22000 non-null  object
 3   country          22000 non-null  object
 4   country_code     22000 non-null  object
 5   date_added       122 non-null    object
 6   has_expired      22000 non-null  object
 7   job_board        22000 non-null  object
 8   job_type         20372 non-null  object
 9   location         22000 non-null  object
 10  organization     15133 non-null  object
 11  page_url         22000 non-null  object
 12  salary           3446 non-null   object
 13  sector           16806 non-null  object
 14  uniq_id          22000 non-null  object
dtypes: int64(1), object(14)
memory usage: 2.5+ MB

### Sector
- Sector may be useful to human-validate skills / matching, but some low-freq ones are pages long
- top 25 sectors by frequency account for 16,000/22,000 job postings

In [47]:
sectors = df['sector'].value_counts()

sector_total = 0
num = 25
for i in range(0, num):
    sector_total += sectors[i]
print('Top {} sectors by frequency account for {} job records'.format(num, sector_total))

print('\n\n' + '-'*10 +' Top 50 sectors: ' + '-'*10 + '\n')
print(sectors.head(50))

Top 25 sectors by frequency account for 16075 job records


---------- Top 50 sectors: ----------

Experienced (Non-Manager)                                          4594
Medical/Health                                                     1254
Entry Level                                                        1172
Sales/Retail/Business Development                                   938
Manager (Manager/Supervisor of Staff)                               900
IT/Software Development                                             861
Project/Program Management                                          790
Accounting/Finance/Insurance                                        742
Food Services/Hospitality                                           633
Installation/Maintenance/Repair                                     574
Manufacturing/Production/Operations                                 544
Logistics/Transportation                                            371
Customer Support/Client Care                                        328
Quality Assurance/Safety                                            323
Marketing/Product                                                   311
Security/Protective Services                                        311
Administrative/Clerical                                             271
Legal                                                               237
Human Resources                                                     205
Engineering                                                         153
Business/Strategic Management                                       124
Biotech/R&D/Science                                                 121
Education/Training                                                  115
General/Other: IT/Software Development                              112
Building Construction/Skilled Trades                                 91
General/Other: Medical/Health                                        84
Executive (SVP, VP, Department Head, etc)                            67
Other                                                                59
Student (High School)                                                48
Environmental/Geological Testing & Analysis                          39
Banking/Real Estate/Mortgage Professionals                           37
Retail                                                               23
Student (Undergraduate/Graduate)                                     23
Editorial/Writing                                                    21
Student                                                              19
General/Other: Quality Assurance/Safety                              18
Creative/Design                                                      13
Computer/Network SecurityGeneral/Other: IT/Software Development      11
General/Other: R&D/Science                                           11
General/Other: Engineering                                           11
General/Other: Administrative/Clerical                               11
Laboratory/Pathology                                                  8
General/Other: Customer Support/Client Care                           8
Dental Practitioner                                                   7
Civil & Structural EngineeringGeneral/Other: Engineering              6
General/Other: Project/Program Management                             6
General/Other: Human Resources                                        6
Senior Executive (President, CFO, etc)                                6
Project Management                                                    6
Career Level Experienced (Non-Manager)                                6
Name: sector, dtype: int64

## Locations
- Will need to be cleaned with regex and aggregated. Maybe just group by state

In [51]:
locs = df['location'].value_counts()

location_total = 0
num = 50
for i in range(0, num):
    location_total += locs[i]
print('Top {} locations by frequency account for {} job records'.format(num, location_total))

print('\n\n' + '-'*10 +' Top 50 locations: ' + '-'*10 + '\n')
print(locs.head(50))

Top 50 locations by frequency account for 4967 job records


---------- Top 50 locations: ----------

Dallas, TX               646
Cincinnati, OH           384
Columbus, OH             345
Camphill, PA             333
Dallas, TX 75201         304
Houston, TX              223
Atlanta, GA              180
Austin, TX               145
San Antonio, TX          137
Location:                133
Chicago, IL              133
Columbus, OH 43215       131
Las Vegas, NV            112
Madison, WI              101
Boston, MA                96
Denver, CO                91
Cincinnati, OH 45202      90
Chicago, IL 60603         89
Knoxville, TN             70
Irving, TX                66
Las Vegas, NV 89119       63
New York, NY              60
Cincinnati, OH 45201      54
San Francisco, CA         53
Dallas, TX 75202          52
Seattle, WA               49
Chicago, IL 60601         47
Charlotte, NC             44
Denver, CO 80202          44
Knoxville, TN 37917       44
Columbia, MD              43
Cincinnati, OH 45242      42
Philadelphia, PA          40
Natick, MA                39
Chattanooga, TN 37421     36
Irving, TX 75062          35
Chattanooga, TN           33
Milwaukee, WI             33
Chicago, IL 60602         31
Columbus, OH 43219        31
Cincinnati, OH 45246      31
MO                        30
Miami, FL                 30
Dallas, TX 75207          29
Houston, TX 77001         28
CA                        28
San Diego, CA 92121       28
Shreveport, LA 71105      27
Monroe, LA 71203          27
Washington, DC            27
Name: location, dtype: int64

In [50]:
df.columns

Index(['id', 'job_title', 'job_description', 'country', 'country_code',
       'date_added', 'has_expired', 'job_board', 'job_type', 'location',
       'organization', 'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

## Country Code
- All country codes are US so no value here

## Job Type
- Not super useful for analysis, but as search/filter may be useful to demo how this system may work for AD, CIV, CTR

In [55]:
df['job_type'].value_counts().head(50)

Full Time                                        6757
Full Time Employee                               6617
Full Time, Employee                              3360
Full Time Temporary/Contract/Project             1062
Full Time, Temporary/Contract/Project             533
Full Time , Employee                              406
Part Time Employee                                382
Part Time                                         329
Part Time, Employee                               196
Temporary/Contract/Project                        193
Employee                                          147
Full Time / Employee                              121
Full Time , Temporary/Contract/Project             56
Part Time, Temporary/Contract/Project              34
Per Diem, Employee                                 29
Per Diem                                           22
Job Type Full Time Employee                        19
Part Time Seasonal                                 17
Part Time/ Temporary/Contract/Project              16
Full Time                                          14
Full Time/ Employee                                13
Per Diem Employee                                  12
Part Time Temporary/Contract/Project                6
Full Time Intern                                    5
Part Time , Employee                                4
Per Diem, Temporary/Contract/Project                4
Job Type Part Time Employee                         2
Job Type Full Time                                  2
Part Time Intern                                    2
Part Time / Employee                                2
Job Type Full Time Temporary/Contract/Project       2
Full Time / Temporary/Contract/Project              1
Part Time, Intern                                   1
Part Time , Temporary/Contract/Project              1
Exempt                                              1
Job Type Employee                                   1
Full Time / > Employee                              1
Full Time  Employee                                 1
Part Time                                           1
Name: job_type, dtype: int64

In [56]:
df.columns

Index(['id', 'job_title', 'job_description', 'country', 'country_code',
       'date_added', 'has_expired', 'job_board', 'job_type', 'location',
       'organization', 'page_url', 'salary', 'sector', 'uniq_id'],
      dtype='object')

In [60]:
df.drop(columns=['country', 'country_code', 'date_added', 'has_expired', 'job_board', 'page_url', 'salary', 'uniq_id'], inplace=True)
df.head()

,id,job_title,job_description,job_type,location,organization,sector
0,0,IT Support Technician Job in Madison,TeamSoft is seeing an IT Support Specialist to...,Full Time Employee,"Madison, WI 53702",None,IT/Software Development
1,1,Business Reporter/Editor Job in Madison,The Wisconsin State Journal is seeking a flexi...,Full Time,"Madison, WI 53708",Printing and Publishing,None
2,2,Johnson & Johnson Family of Companies Job Appl...,Report this job About the Job DePuy Synthes Co...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,None
3,3,Engineer - Quality Job in Dixon,Why Join Altec? If you’re considering a career...,Full Time,"Dixon, CA",Altec Industries,Experienced (Non-Manager)
4,4,Shift Supervisor - Part-Time Job in Camphill,Position ID# 76162 # Positions 1 State CT C...,Full Time Employee,"Camphill, PA",Retail,Project/Program Management

In [65]:
# df is now half the size in memory
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               22000 non-null  int64
 1   job_title        22000 non-null  object
 2   job_description  22000 non-null  object
 3   job_type         20372 non-null  object
 4   location         22000 non-null  object
 5   organization     15133 non-null  object
 6   sector           16806 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.2+ MB

In [66]:
import pickle
path = '/Users/richardkuzma/coding/analysis/monster/data/cleaned/'
filename = 'monster_jobs_df_small.pkl'

with open(path+filename, 'wb') as f:
    pickle.dump(df, f)